.myCartContent {
    background-color: rgb(27,40,56);
    min-height: 100vh;
    margin-top: 11vh;
}

.titleLeft {
    background-image: linear-gradient(to right, rgb(27,40,56) , rgb(32,73,106));
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-size: 32px;
    color: rgba(255,255,255,0.9);
}

.titleRight {
    background-image: linear-gradient(to right, rgb(32,73,106) , rgb(27,40,56));
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.top {
    height: 6vh;
    border-top-color: rgb(27,40,56);
    background-image: -webkit-radial-gradient(top,rgb(32,73,106) 30%, rgb(27,40,56) 70%);
}

.goods {
    background-color: rgb(22,32,45);
    width: 100%;
    margin-bottom: 1vh;
    padding: 2vh;
    color: #c7d5e0;
}
.goods:hover {
    background-color: rgb(23,26,33);
}

.bottom {
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 2vw;
    margin-bottom: 60vh;
    background-color: rgb(22,32,45);
}

.toBuy {
    background-color: rgb(42,71,94);
    color: rgb(83,193,245);
    padding: 1vh 1vw; 
    font-size: 3vh;
    border-radius: 2px;
    cursor: pointer;
}
.toBuy:hover {
    background-image: linear-gradient(to right, rgb(103,193,245) , rgb(67,126,160));
    color: rgb(255,255,255);
}